body {
  font-family: "Courier New", Courier, monospace, sans-serif;
  margin:0;
  padding: 0;
  background-color: rgba(100, 100, 100, 1);
  overflow: hidden;
}

.box {
    background-color: rgba(200, 200, 255, 0.5);
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-size:12px;
}







button, input {
	font-family: "Courier New", Courier, monospace, sans-serif;
	font-size:14px;
    height:32px;
    border-radius:0;
    color:black;
    border: none;
    
    margin-bottom:8px;
}

textarea{
	resize:none;
}

 ul {
    padding: 0;
    list-style-type: none;
}



.navLeft {
position:absolute;
top:90%;
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
left:10px;
background-color: #c5e6f0;
}

.navRight{
position:absolute;
top:90%;
right:10px;
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
background-color: #c5e6f0;
}

.navRight:hover, .navLeft:hover {
  background-color: white;
}

.closeButton {
    background-color: black;
    color:white;
    font-weight: bold;
    font-size:18px;
  }
